Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
A dataframe
A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
The output:
The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
hint:
Look up the dropna documentation.
You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
Make use of inplace, i.e. inplace=True/False.
Decide how to handle the remaining missing values:

Fill with constant value.
Impute with mean, median, mode.
Drop row/column
wrangle_zillow.py

In [29]:
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from scipy import stats
import wrangle as w
import explore as exp
import model as m

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import SelectKBest, f_regression, RFE
import statsmodels.api as sm
from sklearn.metrics import explained_variance_score
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.dummy import DummyClassifier

In [2]:
def new_zillow_data():
    '''
    Returns zillow into a dataframe
    '''
    sql_query =''' 
    select *
from properties_2017
join (select parcelid, logerror, max(transactiondate) as transactiondate 
FROM predictions_2017 group by parcelid, logerror) as pred_2017 using(parcelid) 
left join airconditioningtype using(airconditioningtypeid)
left join architecturalstyletype using(architecturalstyletypeid)
left join buildingclasstype using(buildingclasstypeid)
left join heatingorsystemtype using(heatingorsystemtypeid)
left join propertylandusetype using(propertylandusetypeid)
left join storytype using(storytypeid)
left join typeconstructiontype using(typeconstructiontypeid)
where properties_2017.latitude is not null
and properties_2017.longitude is not null;
    '''
    df = pd.read_sql(sql_query, get_connection('zillow'))
    return df 

def get_zillow_data():
    '''get connection, returns zillow into a dataframe and creates a csv for us'''
    if os.path.isfile('zillow.csv'):
        df = pd.read_csv('zillow.csv', index_col=0)
    else:
        df = new_zillow_data()
        df.to_csv('zillow.csv')
    return df

In [3]:
def remove_outliers(df,k,col_list):
    '''
    remove outliers from a list of columns in a dataframe 
    and returns that dataframe
    '''
    
    for col in col_list:

        q1, q3 = df[f'{col}'].quantile([.25, .75])  # get quartiles
        
        iqr = q3 - q1   # calculate interquartile range
        
        upper_bound = q3 + k * iqr   # get upper bound
        lower_bound = q1 - k * iqr   # get lower bound

        # return dataframe without outliers
        
        return df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]

In [4]:
def get_counties(df):
    '''
    This function will create dummy variables out of the original fips column. 
    And return a dataframe with all of the original columns except regionidcounty.
    We will keep fips column for data validation after making changes. 
    New columns added will be 'LA', 'Orange', and 'Ventura' which are boolean 
    The fips ids are renamed to be the name of the county each represents. 
    '''
    # create dummy vars of fips id
    county_df = pd.get_dummies(df.fips)
    # rename columns by actual county name
    county_df.columns = ['LA', 'Orange', 'Ventura']
    # concatenate the dataframe with the 3 county columns to the original dataframe
    df_dummies = pd.concat([df, county_df], axis = 1)
    # drop regionidcounty and fips columns
    df_dummies = df_dummies.drop(columns = ['regionidcounty'])
    return df_dummies

In [5]:
df = w.get_zillow_data()

In [6]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [7]:
df = w.prepare_zillow(df)

In [8]:
df.head()

,propertylandusetypeid,parcel_id,id,baths,beds,calculatedbathnbr,sqft,finishedsquarefeet12,fullbathcnt,latitude,...,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,county,los_angeles,orange,ventura,bathsandbeds
0,261.0,14297519,1727539,3.5,4.0,3.5,3100.0,3100.0,3.0,33634931.0,...,0.5,119.300710,0.5,0.875000,0,orange,0,1,0,7.5
1,261.0,17052889,1387261,1.0,2.0,1.0,1465.0,1465.0,1.0,34449266.0,...,0.2,29.730371,0.3,0.500000,0,ventura,0,0,1,3.0
2,261.0,14186244,11677,2.0,3.0,2.0,1243.0,1243.0,2.0,33886168.0,...,0.2,56.865394,0.4,0.666667,0,orange,0,1,0,5.0
3,261.0,12177905,2288172,3.0,4.0,3.0,2376.0,2376.0,3.0,34245180.0,...,0.1,2.778417,0.1,0.750000,0,los_angeles,1,0,0,7.0
6,261.0,12095076,781532,3.0,4.0,3.0,2962.0,2962.0,3.0,34145202.0,...,0.3,7.882841,0.2,0.750000,0,los_angeles,1,0,0,7.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49727 entries, 0 to 77574
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   propertylandusetypeid       49727 non-null  float64
 1   parcel_id                   49727 non-null  int64
 2   id                          49727 non-null  int64
 3   baths                       49727 non-null  float64
 4   beds                        49727 non-null  float64
 5   calculatedbathnbr           49713 non-null  float64
 6   sqft                        49727 non-null  float64
 7   finishedsquarefeet12        49546 non-null  float64
 8   fullbathcnt                 49713 non-null  float64
 9   latitude                    49727 non-null  float64
 10  longitude                   49727 non-null  float64
 11  lotsizesquarefeet           49727 non-null  float64
 12  propertycountylandusecode   49727 non-null  object
 13  rawcensustractandblock      49727 non-null  float64
 14  regionidcity                48809 non-null  float64
 15  regionidzip                 49727 non-null  float64
 16  roomcnt                     49727 non-null  float64
 17  year_built                  49727 non-null  float64
 18  structuretaxvaluedollarcnt  49671 non-null  float64
 19  tax_value                   49727 non-null  float64
 20  assessmentyear              49727 non-null  float64
 21  landtaxvaluedollarcnt       49727 non-null  float64
 22  tax_amount                  49727 non-null  float64
 23  censustractandblock         49681 non-null  float64
 24  logerror                    49727 non-null  float64
 25  transactiondate             49727 non-null  object
 26  propertylandusedesc         49727 non-null  object
 27  LA                          49727 non-null  uint8
 28  Orange                      49727 non-null  uint8
 29  Ventura                     49727 non-null  uint8
 30  age                         49727 non-null  float64
 31  age_bin                     49701 non-null  float64
 32  taxrate                     49727 non-null  float64
 33  acres                       49727 non-null  float64
 34  acres_bin                   49727 non-null  float64
 35  sqft_bin                    49727 non-null  float64
 36  structure_dollar_per_sqft   49671 non-null  float64
 37  structure_dollar_sqft_bin   49671 non-null  float64
 38  land_dollar_per_sqft        49727 non-null  float64
 39  lot_dollar_sqft_bin         49726 non-null  float64
 40  bath_bed_ratio              49727 non-null  float64
 41  cola                        49727 non-null  int64
 42  county                      49727 non-null  object
 43  los_angeles                 49727 non-null  uint8
 44  orange                      49727 non-null  uint8
 45  ventura                     49727 non-null  uint8
 46  bathsandbeds                49727 non-null  float64
dtypes: float64(34), int64(3), object(4), uint8(6)
memory usage: 16.2+ MB

In [10]:
#split into train, validate, test. Our target is logerror
train, validate, test = w.train_validate_test_split(df, 'logerror', seed=1349)

In [11]:
#return our train, validate, and test sets with finishedsquarefeet12, lotsizesquarefeet, structuretaxvaluedollarcnt, 
#tax_value, land tax value dollar count, and tax amount imputed with the column's median value. 
train, validate, test = w.impute_nulls(train, validate, test, strategy='median', 
                        col_list=['finishedsquarefeet12', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 
                                  'tax_value', 'landtaxvaluedollarcnt', 'tax_amount'])

In [12]:
#drop rows with remaining nulls from all of our split sets
train = train.dropna()
validate = validate.dropna()
test = test.dropna()

In [13]:
#assuring there are no more nulls and we can almost get to work
train.isna().sum().sum() + validate.isna().sum().sum() + test.isna().sum().sum()

0

In [14]:
#split new train, validate, and test into X_train, y_train, X_validate, y_validate, X_test, y_test with logerror as our target
X_train, y_train, X_validate, y_validate, X_test, y_test = w.split_X_y(train, validate, test, 'logerror')

In [15]:
X_train = X_train.drop(columns=['propertylandusetypeid','parcel_id','id'])

In [16]:
#get object columns, and numeric columns so we can scale our data
obj_cols = w.get_object_cols(X_train)
num_cols = w.get_numeric_X_cols(X_train, obj_cols)

In [17]:
num_cols

['baths',
 'beds',
 'calculatedbathnbr',
 'sqft',
 'finishedsquarefeet12',
 'fullbathcnt',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'rawcensustractandblock',
 'regionidcity',
 'regionidzip',
 'roomcnt',
 'year_built',
 'structuretaxvaluedollarcnt',
 'tax_value',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'tax_amount',
 'censustractandblock',
 'LA',
 'Orange',
 'Ventura',
 'age',
 'age_bin',
 'taxrate',
 'acres',
 'acres_bin',
 'sqft_bin',
 'structure_dollar_per_sqft',
 'structure_dollar_sqft_bin',
 'land_dollar_per_sqft',
 'lot_dollar_sqft_bin',
 'bath_bed_ratio',
 'cola',
 'los_angeles',
 'orange',
 'ventura',
 'bathsandbeds']

Mall Customers

notebook

Acquire data from mall_customers.customers in mysql database.
Summarize data (include distributions and descriptive statistics).
Detect outliers using IQR.
Split data (train, validate, and test split).
Encode categorical columns using a one hot encoder (pd.get_dummies).
Handles missing values.
Scaling
wrangle_mall.py

Acquire data from mall_customers.customers in mysql database.
Split the data into train, validate, and split
One-hot-encoding (pd.get_dummies)
Missing values
Scaling

In [18]:
def get_mallcustomer_data():
    df = pd.read_sql('SELECT * FROM customers;', w.get_connection('mall_customers'))
    return df.set_index('customer_id')

#Split the data into train, validate, and split
def train_validate_test(df, target):
    '''
    this function takes in a dataframe and splits it into 3 samples, 
    a test, which is 20% of the entire dataframe, 
    a validate, which is 24% of the entire dataframe,
    and a train, which is 56% of the entire dataframe. 
    It then splits each of the 3 samples into a dataframe with independent variables
    and a series with the dependent, or target variable. 
    The function returns train, validate, test sets and also another 3 dataframes and 3 series:
    X_train (df) & y_train (series), X_validate & y_validate, X_test & y_test. 
    '''
    # split df into test (20%) and train_validate (80%)
    train_validate, test = train_test_split(df, test_size=.2, random_state=123)

    # split train_validate off into train (70% of 80% = 56%) and validate (30% of 80% = 24%)
    train, validate = train_test_split(train_validate, test_size=.3, random_state=123)

        
    # split train into X (dataframe, drop target) & y (series, keep target only)
    X_train = train.drop(columns=[target])
    y_train = train[target]
    
    # split validate into X (dataframe, drop target) & y (series, keep target only)
    X_validate = validate.drop(columns=[target])
    y_validate = validate[target]
    
    # split test into X (dataframe, drop target) & y (series, keep target only)
    X_test = test.drop(columns=[target])
    y_test = test[target]
    
    return train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test

#One-hot-encoding (pd.get_dummies)
def get_mall_dummies(mall_df):
    mall_df = pd.get_dummies(mall_df, dummy_na=False)
    return mall_df


#Scaling
def min_max_scale(X_train, X_validate, X_test, numeric_cols):
    '''
    this function takes in 3 dataframes with the same columns, 
    a list of numeric column names (because the scaler can only work with numeric columns),
    and fits a min-max scaler to the first dataframe and transforms all
    3 dataframes using that scaler. 
    it returns 3 dataframes with the same column names and scaled values. 
    '''
    # create the scaler object and fit it to X_train (i.e. identify min and max)
    # if copy = false, inplace row normalization happens and avoids a copy (if the input is already a numpy array).


    scaler = MinMaxScaler(copy=True).fit(X_train[numeric_cols])

    #scale X_train, X_validate, X_test using the mins and maxes stored in the scaler derived from X_train. 
    # 
    X_train_scaled_array = scaler.transform(X_train[numeric_cols])
    X_validate_scaled_array = scaler.transform(X_validate[numeric_cols])
    X_test_scaled_array = scaler.transform(X_test[numeric_cols])

    # convert arrays to dataframes
    X_train_scaled = pd.DataFrame(X_train_scaled_array, 
                                  columns=numeric_cols).\
                                  set_index([X_train.index.values])

    X_validate_scaled = pd.DataFrame(X_validate_scaled_array, 
                                     columns=numeric_cols).\
                                     set_index([X_validate.index.values])

    X_test_scaled = pd.DataFrame(X_test_scaled_array, 
                                 columns=numeric_cols).\
                                 set_index([X_test.index.values])

    
    return X_train_scaled, X_validate_scaled, X_test_scaled

In [19]:
mall_df = get_mallcustomer_data()

In [20]:
mall_df.sample(10)

             gender  age  annual_income  spending_score
customer_id
101          Female   23             62              41
84           Female   46             54              44
47           Female   50             40              55
46           Female   24             39              65
104            Male   26             62              55
152            Male   39             78              88
45           Female   49             39              28
36           Female   21             33              81
194          Female   38            113              91
196          Female   35            120              79

In [21]:
mall_df = remove_outliers(mall_df,1.5,col_list=['age','annual_income','spending_score'])

In [22]:
mall_df = get_mall_dummies(mall_df)

In [23]:
mall_df

             age  annual_income  spending_score  gender_Female  gender_Male
customer_id
1             19             15              39              0            1
2             21             15              81              0            1
3             20             16               6              1            0
4             23             16              77              1            0
5             31             17              40              1            0
...          ...            ...             ...            ...          ...
196           35            120              79              1            0
197           45            126              28              1            0
198           32            126              74              0            1
199           32            137              18              0            1
200           30            137              83              0            1

[200 rows x 5 columns]

In [25]:
mall_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             200 non-null    int64
 1   annual_income   200 non-null    int64
 2   spending_score  200 non-null    int64
 3   gender_Female   200 non-null    uint8
 4   gender_Male     200 non-null    uint8
dtypes: int64(3), uint8(2)
memory usage: 6.6 KB

In [26]:
train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = train_validate_test(mall_df,'spending_score')

In [27]:
num_cols = ['age','annual_income']

In [31]:
X_train_scaled, X_validate_scaled, X_test_scaled = min_max_scale(X_train, X_validate, X_test,num_cols)

In [32]:
X_train_scaled

          age  annual_income
124  0.403846       0.442623
77   0.519231       0.319672
172  0.192308       0.590164
11   0.942308       0.032787
36   0.057692       0.147541
40   0.038462       0.180328
99   0.576923       0.377049
58   0.980769       0.237705
104  0.153846       0.385246
45   0.596154       0.196721
110  0.923077       0.393443
1    0.019231       0.000000
18   0.038462       0.049180
131  0.557692       0.459016
135  0.038462       0.475410
98   0.173077       0.368852
112  0.019231       0.393443
195  0.557692       0.860656
72   0.557692       0.278689
156  0.173077       0.516393
198  0.269231       0.909836
7    0.326923       0.024590
117  0.865385       0.409836
108  0.692308       0.393443
111  0.903846       0.393443
182  0.269231       0.672131
132  0.403846       0.459016
169  0.346154       0.590164
188  0.192308       0.704918
46   0.115385       0.196721
30   0.096154       0.114754
60   0.673077       0.254098
136  0.211538       0.475410
22   0.134615       0.073770
194  0.384615       0.803279
43   0.576923       0.196721
165  0.615385       0.573770
17   0.326923       0.049180
85   0.057692       0.319672
41   0.903846       0.188525
152  0.403846       0.516393
191  0.307692       0.721311
139  0.019231       0.483607
133  0.134615       0.467213
151  0.480769       0.516393
10   0.230769       0.032787
126  0.250000       0.450820
76   0.153846       0.319672
192  0.269231       0.721311
42   0.115385       0.188525
90   0.615385       0.352459
155  0.557692       0.516393
88   0.076923       0.344262
106  0.057692       0.385246
29   0.423077       0.114754
119  0.634615       0.426230
162  0.211538       0.524590
130  0.384615       0.459016
78   0.423077       0.319672
197  0.519231       0.909836
113  0.384615       0.401639
187  0.692308       0.704918
66   0.000000       0.270492
95   0.269231       0.368852
123  0.423077       0.442623
55   0.615385       0.229508
143  0.192308       0.500000
107  0.923077       0.393443
34   0.000000       0.147541
8    0.096154       0.024590
166  0.346154       0.573770
125  0.096154       0.450820
157  0.365385       0.516393
91   0.961538       0.360656
13   0.769231       0.040984
35   0.596154       0.147541
87   0.711538       0.344262
26   0.211538       0.106557
15   0.365385       0.040984
148  0.269231       0.508197
2    0.057692       0.000000
93   0.576923       0.368852
44   0.250000       0.196721
200  0.230769       1.000000
48   0.173077       0.204918
50   0.250000       0.204918
67   0.480769       0.270492
61   1.000000       0.254098
4    0.096154       0.008197
115  0.000000       0.409836
6    0.076923       0.016393
138  0.269231       0.475410
164  0.250000       0.540984
97   0.557692       0.368852
168  0.288462       0.581967
84   0.538462       0.319672
59   0.173077       0.254098
160  0.230769       0.516393
161  0.730769       0.524590
189  0.442308       0.721311
127  0.480769       0.459016
65   0.865385       0.270492
57   0.634615       0.237705
170  0.269231       0.590164
103  0.942308       0.385246
71   1.000000       0.278689
68   0.961538       0.270492
176  0.230769       0.598361
102  0.596154       0.385246
149  0.307692       0.516393
100  0.038462       0.377049
23   0.538462       0.081967